:host {
  display: block;
}

nav {
  display: flex;
  justify-content: space-between;
  margin: 0 10rem;
  align-items: center;
  height: 17vh;

  .nav-links {
    display: flex;
    gap: 2rem;
    list-style: none;
    font-size: 1rem;

    li a {
      color: black;
      text-decoration: none;
      text-decoration-color: white;

      &:hover {
        color: grey;
        text-decoration: underline;
        text-underline-offset: 1rem;
        text-decoration-color: rgb(181, 181, 181);
      }
    }
  }

  .logo {
    font-size: 1rem;

    &:hover {
      cursor: default;
    }
  }
}
