#desktop-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ff94df;
    padding: 20px;
    color: white;

    .logo {
        font-size: 40px;
        font-weight: bold;
    }

    .nav-links {
        list-style: none;
        display: flex;
        gap: 15px;

        li {
            display: inline;
        }

        a {
            color: white;
            text-decoration: none;

            &:hover {
                text-decoration: underline;
            }
        }
    }
}