$color_1: black;
$color_2: white;
$border-color_1: rgb(163, 163, 163);

#projects {
	position: relative;
}
.color-container {
	border-color: $border-color_1;
	background: rgb(250, 250, 250);
}
.project-img {
	border-radius: 2rem;
	width: 90%;
	height: 90%;
}
.project-title {
	margin: 1rem;
	color: $color_1;
}
.project-btn {
	color: $color_1;
	border-color: $border-color_1;
}
.about-details-container {
	justify-content: center;
	flex-direction: column;
	display: flex;
}

.section__text__p1 {
	text-align: center;
  }

.section-container {
	gap: 4rem;
	height: 50%;
}
.section__pic-container {
	height: 700px;
	width: auto;
	margin: auto 0;
}

.btn-color-1 {
	border: rgb(53, 53, 53) 0.1rem solid;
	background: rgb(53, 53, 53);
	color: $color_2;
	&:hover {
		cursor: pointer;
		background: rgb(0, 0, 0);
	}
}
.btn-color-2 {
	border: rgb(53, 53, 53) 0.1rem solid;
	background: none;
	&:hover {
		cursor: pointer;
		background: rgb(53, 53, 53);
		color: $color_2;
		border: rgb(255, 255, 255) 0.1rem solid;
	}
}
.btn-container {
	gap: 1rem;
}




















.btn-color-1,
.btn-color-2 {
  border: rgb(53, 53, 53) 0.1rem solid;
}

.btn-color-1:hover,
.btn-color-2:hover {
  cursor: pointer;
}

.btn-color-1,
.btn-color-2:hover {
  background: rgb(53, 53, 53);
  color: white;
}

.btn-color-1:hover {
  background: rgb(0, 0, 0);
}

.btn-color-2 {
  background: none;
}

.btn-color-2:hover {
  border: rgb(255, 255, 255) 0.1rem solid;
}

.btn-container {
  gap: 1rem;
}

