@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
}

html {
  scroll-behavior: smooth;
}

p {
  color: rgb(85, 85, 85);
}

/* SECTIONS */
.section__profile {
  display: flex;
  justify-content: center;
}
.section__profile_text {
  height: 400px;
  align-self: center;
}

.section__img {
  width: 400px;
  height: 400px;
}

.section__img img {
  height: 100%;
  width: 100%;
}

.section__text__p1 {
  text-align: center;
}

.section__text__p2 {
  font-size: 1.75rem;
  margin-bottom: 1rem;
  text-align: center;
}

.title {
  font-size: 3rem;
  text-align: center;
}

section {
  padding-top: 4vh;
  height: 96vh;
  margin: 0 10rem;
  box-sizing: border-box;
  min-height: fit-content;
}

.section-container {
  display: flex;
  gap: 4rem;
  height: 50%;
  .section__pic-container {
    height: 700px;
    width: auto;
    margin: auto 0;
  }
}

.about-details-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.about-containers {
  display: flex;
  gap: 2rem;
  margin-bottom: 2rem;
  margin-top: 2rem;
}

.details-container {
  padding: 1.5rem;
  flex: 1;
  background: white;
  border-radius: 2rem;
  border: rgb(53, 53, 53) 0.1rem solid;
  border-color: rgb(163, 163, 163);
  text-align: center;
}

/* BUTTONS */
.btn-container {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.btn {
  font-weight: 600;
  transition: all 300ms ease;
  padding: 1rem;
  width: 8rem;
  border-radius: 2rem;
}

.btn-color-1,
.btn-color-2 {
  border: rgb(53, 53, 53) 0.1rem solid;
}

.btn-color-1:hover,
.btn-color-2:hover {
  cursor: pointer;
}

.btn-color-1,
.btn-color-2:hover {
  background: rgb(53, 53, 53);
  color: white;
}

.btn-color-1:hover {
  background: rgb(0, 0, 0);
}

.btn-color-2 {
  background: none;
}

.btn-color-2:hover {
  border: rgb(255, 255, 255) 0.1rem solid;
}

.btn-container {
  gap: 1rem;
}

/* ICONS */
.icon {
  cursor: pointer;
  height: 2rem;
}

/* MEDIA QUERIES */

@media screen and (max-width: 1400px) {
  .about-containers {
    flex-wrap: wrap;
    min-width: fit-content;
  }
}

@media screen and (max-width: 1000px) {
  section {
    height: fit-content;
    margin: 0 5%;
  }
  .section-container {
    display: block;
    height: fit-content;
  }
  .about-containers {
    margin-top: 0;
  }
}

@media screen and (max-width: 600px) {
  .about-containers,
  .btn-container {
    flex-wrap: wrap;
  }
  .section__text__p2 {
    font-size: 1.25rem;
  }
}
