#projects {
  position: relative;
}

.title {
  font-size: 3rem;
  text-align: center;
}

.section__text__p1 {
  text-align: center;
}

.about-containers {
  gap: 2rem;
  margin-bottom: 2rem;
  margin-top: 2rem;
  display: flex;
}
