<section id="projects">
  <p class="section__text__p1">Browse My Recent</p>
  <h1 class="title">Projects</h1>
  <div class="experience-details-container">
    <div class="about-containers">
    
      <app-project source=".\assets\project-1.png"
      txt ="Project 1" 
      projectNum="Project One"
      btn1="Github"
      btn2="Live Demo"
      url1="https://github.com/"
      url2="https://github.com/">
      </app-project>

      <app-project source=".\assets\project-2.png"
      txt ="Project 2" 
      projectNum="Project Two"
      btn1="Github"
      btn2="Live Demo"
      url1="https://github.com/"
      url2="https://github.com/">
      </app-project>

      <app-project source=".\assets\project-3.png"
      txt ="Project 3" 
      projectNum="Project Three"
      btn1="Github"
      btn2="Live Demo"
      url1="https://github.com/"
      url2="https://github.com/">
      </app-project>

    </div>
  </div>
