$primary-color: rgb(163, 163, 163);
$secondary-color: rgb(250, 250, 250);
$border-radius: 2rem;
$gap: 1rem;

.project-img {
  border-radius: $border-radius;
  width: 90%;
  height: 90%;
}

.project-title {
  margin: 1rem;
  color: black;
}

.project-btn {
  color: black;
  border-color: $primary-color;
}
