<section id="profile">
    <div class="section__profile">
      <div class="section__img">
      <img 
        src="assets/random.jpeg"
        alt="Development picture"
      />
    </div>
    </div>
    <div class="section__profile_text">
      <div>
      <h1 class="title">Your Name</h1>
      <p class="section__text__p2">Fullstack Developer</p>
  </div>
      <div class="btn-container">
        <button
          class="btn btn-color-2"
          onclick="window.open('assets/ElioNehmeCV.pdf')"
        >
          Download CV
        </button>
        <button class="btn btn-color-1" onclick="location.href='./#contact'">
          Contact Info
        </button>
      </div>
      <div id="socials-container">
        <img
          src="assets/linkedin.png"
          alt="My LinkedIn profile"
          class="icon"
          onclick="location.href='https://linkedin.com/'"
        />
        <img
          src="assets/github.png"
          alt="My Github profile"
          class="icon"
          onclick="location.href='https://github.com/'"
        />
      </div>
    </div>
  </section>
