<div class="details-container color-container">

  <div class="article-container">
    <img
    src={{source}} alt={{txt}} class="project-img"
    />
  </div>
  

  <h2 class="experience-sub-title project-title">{{projectNum}}</h2>
  <div class="btn-container">
    <button class="btn btn-color-2 project-btn"
        (click)="getURL(url1)"> 
        {{btn1}} 
      </button>
      <button class="btn btn-color-2 project-btn"
      (click)="getURL(url2)"> 
      {{btn2}} 
    </button>
  </div> 
</div>