<section id="projects">
    <p class="section__text__p1">Browse My Recent</p>
    <h1 class="title">Projects</h1>
    <div class="experience-details-container">
      <div class="about-containers">
        <app-project-card
          img="assets/project-1.png"
          imgText="Project 1"
          title="Project One"
        ></app-project-card>
        <app-project-card
          img="assets/project-2.png"
          imgText="Project 2"
          title="Project Two"
        ></app-project-card>
        <app-project-card
          img="assets/project-3.png"
          imgText="Project 3"
          title="Project Three"
        ></app-project-card>
      </div>
    </div>
  </section>