<section id="projects">
  <p class="section__text__p1">Browse My Recent</p>
  <h1 class="title">Projects</h1>
  <div class="experience-details-container">
    <div class="about-containers">
      <div *ngFor="let project of projects" class="details-container color-container">
        <div class="article-container">
          <img [src]="project.imageUrl" alt="{{ project.title }}" class="project-img">
        </div>
        <h2 class="experience-sub-title project-title">{{ project.title }}</h2>
        <div class="btn-container">
          <app-button
            text="Github" buttonClass="btn btn-color-2 project-btn" (clicked)="openUrl(project.githubUrl)"
          >
          </app-button>
          <app-button 
            text="Live Demo" buttonClass="btn btn-color-2 project-btn" (clicked)="openUrl(project.liveDemoUrl)"
          >
          </app-button>
        </div>
      </div>
    </div>
  </div>
</section>