<section id="projects">
    <p class="section__text__p1">Browse My Recent</p>
    <h1 class="title">Projects</h1>
    <div class="experience-details-container">
        <div class="about-containers">
            <app-project-card [src]="project1_src" [alt]="project1_alt" [project_title]="project1_title"></app-project-card>
            <app-project-card [src]="project2_src" [alt]="project2_alt" [project_title]="project2_title"></app-project-card>
            <app-project-card [src]="project3_src" [alt]="project3_alt" [project_title]="project3_title"></app-project-card>
        </div>
    </div>
</section>