$border-radius: 2rem;

.details-container {
  padding: 1.5rem;
  flex: 1;
  background: white;
  border-radius: $border-radius;
  border: rgb(53, 53, 53) 0.1rem solid;
  border-color: rgb(163, 163, 163);
  max-width: 300px;
  text-align: center;
}

.project-btn {
  color: black;
  border-color: #a3a3a3;
}

.btn-color-2:hover {
  cursor: pointer;
  background: rgb(53, 53, 53);
  color: white;
  border: rgb(255, 255, 255) 0.1rem solid;
}

.project-img {
  border-radius: 2rem;
  width: 90%;
  height: 90%;
}

.project-title {
  margin: 1rem;
  color: black;
}