/* DESKTOP NAV */

nav,
.nav-links {
  display: flex;
}

nav {
  justify-content: space-between;
  margin: 0 10rem;
  align-items: center;
  height: 17vh;
}

.nav-links {
  gap: 2rem;
  list-style: none;
  font-size: 1rem;
}

a {
  color: black;
  text-decoration: none;
  text-decoration-color: white;
}

a:hover {
  color: grey;
  text-decoration: underline;
  text-underline-offset: 1rem;
  text-decoration-color: rgb(181, 181, 181);
}

.logo {
  font-size: 1rem;
}

.logo:hover {
  cursor: default;
}

@media screen and (max-width: 1400px) {
  nav {
    margin: 0 2rem;
    font-size: 1rem;
  }

  .logo {
    font-size: 1rem;
  }
}

@media screen and (max-width: 600px) {
  nav {
    height: fit-content;
    margin: 1rem 2rem;
  }

  .logo {
    font-size: 0.75rem;
  }
  
  .nav-links {
    gap: 0.5rem;
    text-align: center;
  }
}
