@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

$primary-font: "Poppins", sans-serif;
$text-color: rgb(85, 85, 85);

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: $primary-font;
}

html {
  scroll-behavior: smooth;
}

p {
  color: $text-color;
}

//sections
// Variables
$section-padding-top: 4vh;
$section-height: 96vh;
$section-margin: 0 10rem;
$section-container-margin: 1rem;
$section-img-size: 400px;

// Styles
.section__profile {
  display: flex;
  justify-content: center;
}

.section__profile_text {
  height: 400px;
  align-self: center;
}

.section__img {
  width: $section-img-size;
  height: $section-img-size;

  img {
    height: 100%;
    width: 100%;
  }
}

section {
  padding-top: $section-padding-top;
  height: $section-height;
  margin: $section-margin;
  box-sizing: border-box;
  min-height: fit-content;

  .section-container {
    display: flex;
    margin: $section-container-margin;
  }
}

