/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

$font: "Poppins", sans-serif;
$color: rgb(85, 85, 85);

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: $font;
}

html {
  scroll-behavior: smooth;
}

p {
  color: $color;
}