<section id="about">
  <p class="section__text__p1">Get To Know More</p>
  <h1 class="title">About Me</h1>
  <app-about-card></app-about-card>
  <div class="text-container">
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic quis
      reprehenderit et laborum, rem, dolore eum quod voluptate
      exercitationem nobis, nihil esse debitis maxime facere minus sint
      delectus velit in eos quo officiis explicabo deleniti dignissimos.
      Eligendi illum libero dolorum cum laboriosam corrupti quidem,
      reiciendis ea magnam? Nulla, impedit fuga!
    </p>
  </div>
</section>
