/* GENERAL */

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

$bg-dark: rgb(53, 53, 53);

* {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
}

section {
  padding-top: 4vh;
  height: 96vh;
  margin: 0 10rem;
  box-sizing: border-box;
  min-height: fit-content;
}

p {
  color: rgb(85, 85, 85);
}

/*Default Styles*/

.title {
  font-size: 3rem;
  text-align: center;
}

.section__text__p1 {
  text-align: center;
}

.details-container {
  padding: 1.5rem;
  flex: 1;
  background: white;
  border-radius: 2rem;
  border: $bg-dark 0.1rem solid;
  border-color: rgb(163, 163, 163);
  text-align: center;
}

/*Icons*/

.icon {
  cursor: pointer;
  height: 2rem;
}

/* BUTTONS */

.btn-container {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.btn {
  font-weight: 600;
  transition: all 300ms ease;
  padding: 1rem;
  width: 8rem;
  border-radius: 2rem;
}

.btn-color-1,
.btn-color-2 {
  border: $bg-dark 0.1rem solid;
  cursor: pointer;
}

.btn-color-2 {
  background: none;
}

.btn-color-1,
.btn-color-2:hover {
  background: $bg-dark;
  color: white;
}

.btn-color-1:hover {
  background: rgb(0, 0, 0);
}

.btn-color-2:hover {
  border: rgb(255, 255, 255) 0.1rem solid;
}

/*Media Queries*/

@media screen and (max-width: 1400px) {
  nav {
    margin: 0 2rem;
    font-size: 1rem;
  }

  .logo {
    font-size: 1rem;
  }

  #profile {
    height: 83vh;
    margin-bottom: 6rem;
  }

  // .about-containers {
  //   flex-wrap: wrap;
  //   min-width: fit-content;
  // }
  #contact,
  #projects {
    height: fit-content;
  }
}

@media screen and (max-width: 1000px) {
  #profile,
  .section-container {
    display: block !important;
  }

  section,
  .section-container {
    height: fit-content;
  }

  section {
    margin: 0 5%;
  }

  .section__pic-container {
    width: 275px;
    height: 275px;
    margin: 0 auto 2rem;
    border-radius: 50%;
  }

  .section__pic-container img {
    border-radius: 50%;
  }

  .about-containers {
    margin-top: 0;
  }
}

@media screen and (max-width: 600px) {
  #profile {
    height: 87vh;
    margin-bottom: 0;
  }

  article {
    font-size: 1rem;
  }

  nav {
    height: fit-content;
    margin: 1rem 2rem;
  }

  .about-containers,
  .contact-info-upper-container,
  .btn-container {
    flex-wrap: wrap;
  }

  .nav-links li a {
    font-size: 0.5rem;
  }

  .logo {
    font-size: 0.75rem;
  }

  .nav-links {
    gap: 0.5rem;
    text-align: center;
  }

  .section__pic-container {
    width: auto;
    justify-content: center;
  }

  .section__pic-container img {
    border-radius: 50%;
  }

  .section__text__p2 {
    font-size: 1.25rem;
  }

  .title {
    font-size: 2rem;
  }

  .text-container {
    text-align: justify;
  }
}
