<div class="details-container color-container">
    <div class="article-container">
      <img
        [src]="imgUrl"
        [alt]="cardTitle"
        class="project-img"
      />
    </div>
    <h2 class="experience-sub-title project-title">{{cardTitle}}</h2>
    <div class="btn-container">
      <button
        class="btn btn-color-1 project-btn"
        onclick="location.href='https://github.com/'"
      >
        Github
      </button>
      <button
        class="btn btn-color-2 project-btn"
        onclick="location.href='https://github.com/'"
      >
        Live Demo
      </button>
    </div>
</div>