<section id="projects">
  <p class="section__text__p1">Browse My Recent</p>
  <h1 class="title">Projects</h1>
  <div class="experience-details-container">
    <div class="about-containers">
      <app-card
        class="card"
        [cardTitle]="projects[0].title"
        [imgUrl]="projects[0].img"
      ></app-card>
      <app-card
        class="card"
        [cardTitle]="projects[1].title"
        [imgUrl]="projects[1].img"
      ></app-card>
      <app-card
        class="card"
        [cardTitle]="projects[2].title"
        [imgUrl]="projects[2].img"
      ></app-card>
    </div>
  </div>
</section>
