<div class="details-container color-container">
    <div class="article-container">
      <img
        [src]="image"
        alt="Project 1"
        class="project-img"
      />
    </div>
    <h2 class="experience-sub-title project-title">{{title}}</h2>
    <div class="btn-container">
      <!-- <button
        class="btn btn-color-2 project-btn"
        (click)="redirectToGithub()"
      >
        Github
      </button> -->

      <app-button [label]="'Github'" [url]="githubLink"></app-button>

      <app-button [label]="'Live Demo'" [url]="liveDemoLink"></app-button>
    
    </div>
  </div>