
#about {
  position: relative;
}

.about-containers {
  gap: 2rem;
  margin-bottom: 2rem;
  margin-top: 2rem;
}

.about-details-container {
  justify-content: center;
  flex-direction: column;
}

.about-containers,
.about-details-container {
  display: flex;
  justify-content: center;
}

.about-pic {
  border-radius: 2rem;
}

.details-container {
  padding: 1.5rem;
  flex: 1;
  background: white;
  border-radius: 2rem;
  border: rgb(53, 53, 53) 0.1rem solid;
  border-color: rgb(163, 163, 163);
  max-width: 300px;
  text-align: center;
}

.section-container {
  gap: 4rem;
  height: 50%;
}

.section__pic-container {
  height: 700px;
  width: auto;
  margin: auto 0;
}

@media screen and (max-width: 1400px) {
  nav {
    margin: 0 2rem;
    font-size: 1rem;
  }
  .logo {
    font-size: 1rem;
  }
  #profile {
    height: 83vh;
    margin-bottom: 6rem;
  }
  .about-containers {
    flex-wrap: wrap;
    min-width: fit-content;
  }
  #contact,
  #projects {
    height: fit-content;
  }
}

@media screen and (max-width: 1000px) {
  #profile,
  .section-container {
    display: block;
  }

  section,
  .section-container {
    height: fit-content;
  }
  section {
    margin: 0 5%;
  }
  .section__pic-container {
    width: 275px;
    height: 275px;
    margin: 0 auto 2rem;
    border-radius: 50%;
  }

  .section__pic-container img {
      border-radius: 50%;
  }
  
  .about-containers {
    margin-top: 0;
  }
}

@media screen and (max-width: 600px) {
  #profile {
    height: 87vh;
    margin-bottom: 0;
  }
  article {
    font-size: 1rem;
  }
  nav {
    height: fit-content;
    margin: 1rem 2rem;
  }
  .about-containers,
  .contact-info-upper-container,
  .btn-container {
    flex-wrap: wrap;
  }

  .nav-links li a {
    font-size: 0.5rem;
  }

  .logo {
    font-size: 0.75rem;
  }
  .nav-links {
    gap: 0.5rem;
    text-align: center;
  }
  .section__pic-container {
    width: auto;
    justify-content: center;
  }

  .section__pic-container img {
      border-radius: 50%;
  }
  
  .section__text__p2 {
    font-size: 1.25rem;
  }
  
  .title {
    font-size: 2rem;
  }
  
  .text-container {
    text-align: justify;
  }
}