$border-radius: 2rem;

.details-container {
  padding: 1.5rem;
  flex: 1;
  background: white;
  border-radius: $border-radius;
  border: rgb(53, 53, 53) 0.1rem solid;
  border-color: rgb(163, 163, 163);
  max-width: 300px;
  text-align: center;
}